<!-- Optional additional links to insert for icons links -->

<a
  id="subscribe-link"
  class="icon"
  title="Subscribe"
  aria-label="Subscribe"
  href="https://github.com/pitaaa-community"
>
  {% include svg/github.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Element"
  aria-label="Element"
  href="https://matrix.to/#/#pitaaa:matrix.io"
>
  {% include svg/element.svg %}
</a>

<a
  id="follow-us"
  class="icon"
  title="Follow Us"
  aria-label="Follow Us"
  href="http://instagram.com/pitaaa_community"
>
  {% include svg/instagram-white>.svg %}
</a>
 
<a
  id="send-email"
  class="icon"
  title="Send Email"
  aria-label="Send Email"
  href="mailto:pitaaa.community@gmail.com"
>
  {% include svg/email.svg %}
</a>